# Terraform files
**/*.tfstate
**/*.tfstate.*
**/.terraform/
**/.terraform/*

# Ignore transient lock info files created by terraform apply
**/.terraform.tfstate.lock.info

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Ignore CLI configuration files
**/.terraformrc
**/terraform.rc

**/local.tf

# MacOS files
.DS_Store
**/.DS_Store
._*
**/._*
.env
**/.env
**/.ssh
**/.kube

**/postStart_private.sh